"""{{ class_name }} API endpoints."""
from __future__ import annotations

import urllib
from collections.abc import Generator
from typing import Any, Literal, TYPE_CHECKING

if TYPE_CHECKING:
    from meraki_dashboard_sdk.aio.session import AsyncSession

class Async{{ class_name }}:
    """{{ class_name }} class."""

    def __init__(self, session: AsyncSession) -> None:
        self._session = session

