"""{{ class_name }} API endpoints."""

import urllib
from collections.abc import Generator
from typing import Any

from meraki_dashboard_sdk.aio.rest_session import AsyncRestSession


class Async{{ class_name }}:
    """{{ class_name }} class."""

    def __init__(self, session: AsyncRestSession) -> None:
        super().__init__()
        self._session = session
        
