"""ActionBatch{{ class_name }} API endpoints."""

import urllib
from typing import Any


class ActionBatch{{ class_name }}:
    """ActionBatch{{ class_name }} class."""

    def __init__(self) -> None:
        pass