    def {{ operation }}(self{% if function_definition|length > 0 %}{{ function_definition }}{% endif %}) -> {{ return_type }}:
        """{{ description }}

        {{ doc_url }}
        {% if descriptions|length > 0 %}

        Args:
        {% for d in descriptions %}
            {{ d }}
        {% endfor %}
        {% endif %}

        """
        {% if assert_blocks|length > 0 %}
        {% for param, values in assert_blocks %}
        if {{ param }} is not None:
            options = {{ values }}
            assert {{ param }} in options, f'"{{ param }}" cannot be "{{ '{' + param + '}' }}", & must be set to one of: {options}'
        {% endfor %}

        {% endif %}
        {% for param in path_params %}
        {{ param }} = urllib.parse.quote(str({{ param }}), safe='')
        {% endfor %}
        resource = f'{{ resource }}'

        {% if query_params|length > 0 %}
        params = {}
        {% for snake, orig in query_params %}
        if {{ snake }} is not None:
            params['{{ orig }}'] = {{ snake }}
        {% endfor %}

        {% endif %}
        {% if body_params|length > 0 %}
        payload = {}
        {% for snake, orig in body_params %}
        if {{ snake }} is not None:
            payload['{{ orig }}'] = {{ snake }}
        {% endfor %}

        {% endif %}
        action = {
            "resource": resource,
            "operation": "{{ batch_operation }}",
            {% if body_params|length > 0 %}
            "body": payload,
            {% endif %}
        }
        {{ call_line }}
