"""{{ class_name }} API endpoints."""
from __future__ import annotations

import urllib
from collections.abc import Generator
from typing import Any, Literal, TYPE_CHECKING

if TYPE_CHECKING:
    from meraki_dashboard_sdk.session import Session

class {{ class_name }}:
    """{{ class_name }} class."""

    def __init__(self, session: Session) -> None:
        self._session = session

