"""{{ class_name }} API endpoints."""

import urllib
from collections.abc import Generator
from typing import Any

from meraki_dashboard_sdk.rest_session import RestSession

class {{ class_name }}:
    """{{ class_name }} class."""

    def __init__(self, session: RestSession) -> None:
        super(self).__init__()
        self._session = session

